body {
    background-color: #f4f7fa; 
    font-family: 'Arial', sans-serif; 
}
.img-fluid{
    max-width: 150px;
}

.table-dark {
    background-color: #343a40;
}

.table th, .table td {
    text-align: center; 
}
.btn-custom {
    background-color: #ff6f61 !important;  
    color: white !important; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
}

.btn-custom:hover {
    background-color: #e55a5a !important; 
}

.eliminar{
    display:inline !important;
}


